<h1>
  Cookbook <b>Repository</b>
</h1>
<h3>
  What do you want to do?
</h3>

<p>
  <li><a href="/list">List all recipes</a></li>
  <li><a href="/consult">Consult a recipe</a></li>
  <li><a href="/mark">Mark as read</a></li>
  <li><a href="/create">Create a new recipe</a></li>
  <li><a href="/destroy">Destroy a recipe</a></li>
  <li><a href="/import">Import a recipe</a></li>
</p>

<% @usernames.each do |username| %>
  <li>
    <%= username %>
  </li>
<% end %>
